extends layout

block content

    // Content Header (Page header)
    .content-header.sty-one
        h1 Dashboard - Activity
        ol.breadcrumb
            li
                a(href='#') Home
            li
                i.fa.fa-angle-right
                | Dashboard - Activity
    // Main content
    .content
        // Small boxes (Stat box)
